<!--Main Navigation-->
<header class="intro-header">

    <!--Intro Section-->
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center pt-4 mt-3 w-100">
              <div class="col-md-6 text-center text-md-left mb-5">
                <div class="white-text">
                  <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Stravia TEC</h2>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h6 class="wow fadeInLeft" data-wow-delay="0.3s">StraviaTec como una opción a todos los deportistas (principiantes, intermedios y elites) para que lleven un registro de todas sus actividades que les permita desde compartir sus sesiones hasta mejorar sus tiempos y entrenamientos.</h6>
                  <br>

                </div>
              </div>

              <div class="col-md-6 col-xl-5 offset-xl-1">
                <!--Form-->
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body>
                    <!--Header-->
                    <div class="text-center">
                      <h3 class="white-text">
                        <mdb-icon fas icon="user" class="text-black"></mdb-icon> </h3>
                      <hr class="hr-light">
                    </div>
                    <!--Body-->
                    <div class="md-form">
                      <mdb-icon fas icon="user" class="text-black active"></mdb-icon>
                      <input type="text" id="form3" class="text-black form-control" [(ngModel)]=model.name mdbInput>
                      <label for="form3" class="text-white">Nombre de usuario</label>
                    </div>
                    <div class="md-form">
                      <mdb-icon fas icon="lock" class="text-black active"></mdb-icon>
                      <input type="password" id="form4" class="text-black form-control" [(ngModel)]=model.password mdbInput>
                      <label for="form4" class="text-white">Contraseña</label>
                    </div>
                    <div class="text-center mt-4">
                      <button mdbBtn color="indigo" (click)="validation()" mdbWavesEffect>Iniciar Sesion</button>
                     <hr class="hr-light mb-3 mt-4">
                      <!--begin-->
                      <div class="wrap">
                            <form action="" class="formulario">
                                <div class="radio row">
                                    <div class="col 2" >
                                    <input type="radio" name="tipocuenta" id="deportista"
                                    (click) = "functionDeportista()">
                                    <label for="hombre">Deportista</label>
                                    </div>
                                    
                                    <div class="col 2" >
                                    <input type="radio" name="tipocuenta" id="administrador" 
                                    (click) = "functionAdministrador()">
                                    <label for="mujer">Administrador</label>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                      <!--end-->
                      <hr class="hr-light mb-3 mt-4">
                      <div class="inline-ul text-center d-flex justify-content-center">
                        <button mdbBtn color="red" [routerLink]="['/signup']" mdbWavesEffect>Crear Cuenta</button>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!--/.Form-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

  </header>
  <!--Main Navigation-->